<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.firstName %> <%= user.lastName %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    <link rel="stylesheet" href="/css/profile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/iziToast.css">
</head>
<body>
    <div class="container-xl px-4 mt-4">
        <!-- Account page navigation-->
        <nav class="nav nav-borders">
            <a class="nav-link active ms-0" href="/">Homepage</a>
            <a class="nav-link" href="/rooms">Rooms</a>
            <a class="nav-link" href="/profile">Profile</a>
            <a class="nav-link" href="/logout" >Logout</a>
        </nav>
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Profile Picture</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <img style="height: 315px; weight: 315px;" id="user-photo" class="img-account-profile rounded-circle mb-2" src="<%if(user.photo){%>/users/<%=user.photo%><%}else{%>/images/avatar.png<%}%>" alt="">
                        <!-- Profile picture help block-->
                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                        <!-- Profile picture upload button-->
                        <button onclick="clickFile()" class="btn btn-primary" type="button">Upload new image</button>
                        <input class="d-none" type="file" name="" id="image-input">
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">
                        <form id="profile-form" method="POST" action="/profile/save">
                            <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputFirstName">First name</label>
                                    <input class="form-control" id="inputFirstName" name="firstName" type="text" placeholder="Enter your first name" value="<%= user.firstName %>">
                                </div>
                                <!-- Form Group (last name)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLastName">Last name</label>
                                    <input class="form-control" id="inputLastName" name="lastName" type="text" placeholder="Enter your last name" value="<%= user.lastName %>">
                                </div>
                            </div>

                            <!-- Form Group (email address)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                <input class="form-control" id="inputEmailAddress" name="email" type="email" placeholder="Enter your email address" value="<%= user.email%>">
                            </div>

                            <div class="mb-3">
                                <label class="small mb-1" for="inputPassword">Password</label>
                                <input class="form-control" id="inputPassword" name="password" type="password">
                            </div>

                            <div class="mb-3">
                                <label class="small mb-1" for="inputrePassword">Password Again</label>
                                <input class="form-control" id="inputrePassword" name="repassword" type="password">
                            </div>
                            <!-- Save changes button-->
                            <button class="btn btn-primary" type="submit">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/iziToast.min.js"></script>
    <script>

        const clickFile = () => {
            $('#image-input').click()
        }

        $.ajaxSetup({
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
            }
        });

        $('#profile-form').on('submit', function(e) {

            e.preventDefault()

            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: (data) => {
                    iziToast.success({
                        title: 'Success',
                        message: 'Your profile was updated successfully!',
                    });
                },
                error: (e) => {
                    iziToast.error({
                        title: 'Error',
                        message: 'An error occurred: ' + JSON.stringify(e.responseJSON.message),
                    });
                }
            })

        })

        $('#image-input').on('change', function(e) {

            e.preventDefault()

            const inputFile = $(this)[0].files[0]
            
            const formData = new FormData()
            formData.append('image', inputFile)

            $.ajax({
            url: '/profile/image/upload', 
            type: 'POST',
            data: formData,
            contentType: false, 
            processData: false, 
            success: function(response) {
              
                $('#user-photo').attr('src', '/users/'+ response.photo)

                iziToast.success({
                    title: 'Success',
                    message: 'Your profile photo was changed successfuly!',
                });

            },
            error: function(xhr, status, error) {
              
                console.error('Error uploading file:', error);
            }
        });

        })

    </script>
</body>
</html>