<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Room Selection</title>
  <script src="https://kit.fontawesome.com/be9c4374e2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/iziToast.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 600px;
      margin: 50px auto;
      background-color: #fff;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
      color: #333;
    }

    .room-list {
      list-style: none;
      padding: 0;
    }

    .room-list li {
      margin-bottom: 10px;
      position: relative; /* Make the list item a positioning context */
    }

    .room-list li label {
      display: block;
      padding: 10px;
      background-color: #f9f9f9;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .room-list li label:hover {
      background-color: #e6e6e6;
    }

    .room-list li input[type="radio"] {
      display: none;
    }

    .room-list li input[type="radio"]:checked + label {
      background-color: #3498db;
      color: #fff;
    }

    .room-list li button.delete-button {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 10px; /* Add some margin between the button and the label */
      padding: 5px 10px;
      background-color: #e74c3c;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .room-list li button.delete-button:hover {
      background-color: #c0392b;
    }


    .new-room-input {
      width: calc(100% - 20px);
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .confirm-button  {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #3498db;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .add-button  {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #34db74;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .confirm-button:hover {
      background-color: #2980b9;
    }

    .add-button:hover {
      background-color: #2980b9;
    }

    
  </style>
</head>
<body>
  <div class="container">
    <h1>Select or Create a Chat Room</h1>
    <ul class="room-list">
      <% rooms.forEach((room) => { %>
        <li>
          <input class="<% if(room.password) { %>locked<% } else { %>unlocked<% } %>" type="radio" id="<%= room.id %>" name="room" value="<%= room.slug %>">
          <label style="text-transform: capitalize;" for="<%= room.id %>">
            <% if(room.password) { %>
              <i class="fa-solid fa-lock"></i>
            <% } else { %>
              <i class="fa-solid fa-unlock-keyhole"></i>
            <% } %>
            <%= room.name %>
          </label>
          <% if(room.UserId == user.id) {%>
          <button class="delete-button" data-room-id="<%= room.id %>">Delete</button>
          <%}%>
        </li>
      <% }); %>
      <li>
        <input type="radio" id="newRoom" name="room" value="new">
        <label style="background-color: greenyellow;" for="newRoom">Create New Room</label>
      </li>
    </ul>

    <button class="confirm-button">Confirm</button>
    <form id="newRoomForm" action="/rooms/add" method="POST">
      <input name="name" type="text" id="newRoomName" class="new-room-input" placeholder="Enter new room name" style="display: none;">
      <input name="password" type="password" id="newRoomPassword" class="new-room-input" placeholder="Password" style="display: none;">
      <button style="display: none;" class="add-button">Add</button>
    </form>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="/js/iziToast.min.js"></script>
  <script>

      const newRoomNameInput = $('#newRoomName');
      const newRoomPasswordInput = $('#newRoomPassword');
      const addButton = $('.add-button');
      const confirmButton = $('.confirm-button');

      $.ajaxSetup({
          beforeSend: function(xhr) {
              xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
          }
      });

      $('#newRoom').change(function() {

        if ($(this).prop('checked')) {
            newRoomNameInput.show();
            newRoomPasswordInput.show();
            addButton.show();
            confirmButton.hide();
        } else {
            newRoomNameInput.hide();
            newRoomPasswordInput.hide();
            addButton.hide();
            confirmButton.hide();
        }
    });


      $('.confirm-button').on('click', function(e){

        e.preventDefault();

        const selectedRoom = $('input[name="room"]:checked').val();
        const isLocked = $('input[name="room"]:checked').attr('class')

        if (selectedRoom) {

            if(isLocked == 'unlocked') {
              window.location.href = `/rooms/${selectedRoom}`
            }else {
              const password = window.prompt("Please enter the password","");

              $.ajax({
                type: 'POST',
                url: '/check-password',
                data: {password, selectedRoom},
                success: function(){
                  window.location.href = `/rooms/${selectedRoom}`
                },
                error: function(e){
                  iziToast.error({
                        title: 'Error',
                        message: JSON.stringify(e.responseJSON.message),
                    });
                }
              })

            }
          
        } else {

            alert('Please select a room');
        }
    });


      $('#newRoomForm').on('submit', function(e) {

        e.preventDefault()

        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize() ,
            success: function (data) {
              window.location.href = `rooms/${data.name}`
            },
            error: function(e){
                  iziToast.error({
                        title: 'Error',
                        message: JSON.stringify(e.responseJSON.message),
                    });
                }
        })

      })


  </script>
</body>
</html>
